html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.page-full-part {
  float: left;
  width: 100%;
  .page-normal-part {
    width: 80%;
    float: left;
    margin: 0px 10%;
  }
}

a {
  cursor: pointer;
}